footer {
    background-color: #F4C557;
    margin-top: 2%;
}

#contactText {
    padding-top: 1.2rem;
}

a {
    color: #696969;
}

a:hover {
    color: #696969;
    text-decoration: none;
}

#info-logo {
    padding: 1%;
}