#image {
    background-image: url('./img/homeCover.jpg');
    background-repeat: no-repeat;
    max-width: 100%;
    height: auto;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    overflow: hidden;
}

#searchBox {
    position: relative;
    max-width: 40%; 
   
    margin-bottom: 13%;
    margin-top: 13%;
    /* position: absolute;
    top: 50%;
    left: 50%; */
    transform: translate(-50%, -50%);
    height: 2.5rem;
    background: white;
    border-radius: 40px;
    padding: 0px;
    margin-left: 50%;
    display: inline-block;
}

#search {
    /* padding: 1%;
    width: 75%;
    /* margin-top: 18%; */
    /* border: #F4C557 5px solid; */
    /* outline: none;
    border-radius: 33px; */
    border-radius: 40px;
    position: relative; 
    border: none;
    outline: none;
    background: white;
    float: left;
    padding-left: 1%;
    /* padding: 0%; */
    /* font-size: 14pt; */
    transition: 0.4s;
    line-height: 2.4rem;
    /* flex-grow: 1; */
    /* max-width: 100%; */
}  
    
::placeholder {
    color: grey;
    opacity: 0.5;
}

#buttonSearch {
    /* color: #e84118; */
    float: right;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F4C557;
    /* padding-top: 0.5rem; 
    padding-bottom: 0.3rem;
    border: #F4C557 5px solid;
    background-color: #F4C557;
    outline: none;
    width: 10%;
    display: inline-block; */
}

/*
#shortcuts {
    background-color: white;
    margin-top: 13%;
    position: relative;
}

#shortcuts::after {
    content: "";
    clear: both;
    display: table;
  }

#shortcuts .categoryColumns:hover {
    font-weight: 900;
}

.categoryColumns {
    float: left;
    width: 20%;
    padding-top: 2%;
    padding-left: 5%;
}

.imageCrop {
    width: 100px;
    height: 100px;
    position: relative; 
    overflow: hidden;
    border-radius: 50%;
}

.Snacks, .Dinner {
    padding-left: 1.3rem;
}

.Lunch {
    padding-left: 1.73rem;
}

.Breakfast {
    padding-left: 0.85rem;
}

.Desserts {
    padding-left: 1.1rem;
} */