#image {
    background-image: url('./img/homeCover.jpg');
    background-repeat: no-repeat;
    max-width: 100%;
    height: auto;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    /* overflow: hidden; */
}

#searchBox {
    position: relative;
    max-width: 45%; 
    margin-bottom: 16%;
    margin-top: 16%;
    transform: translate(-50%, -50%);
    height: 2.5rem;
    background: white;
    border-radius: 40px;
    padding: 1px;
    margin-left: 50%;
    /* display: flex; */
    /* box-shadow: 0px 0px 20px lightgrey; */
    border: 0.5px solid #696969;
}

#search {
    width: 92%;
    border-radius: 40px;
    position: relative; 
    border: none;
    outline: none;
    background: white;
    float: left;
    padding-left: 2%;
    overflow: visible;
    transition: 0.4s;
    line-height: 2.4rem;
    padding-bottom: 1;
    display: flex;
    line-height: normal;
}  

.searchIcon {
    color: white;
}

.searchIcon:hover {
    color: white;
}

::placeholder {
    color: grey;
    opacity: 0.5;
}

#buttonSearch {
    float: right;
    width: 2.5rem;
    height: 2.35rem;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F4C557;
    /* margin-left: 1.1%; */
    margin-left: 1.9%;
}

#featureBoxes {
    background-color: white;
    margin-top: 13%; 
    /* position: relative; */
}

#time-feature, #equipment-feature, #ingredients-feature {
   padding: 0;
   max-width: 100%;
   height: auto;
   margin-right: auto;
   margin-left: auto;
}

.home-card {
    border: none;
}

.card-body {
    margin-right: auto;
    margin-left: auto;
}

.feature-icon-image {
    display: flex;
    align-items: center;
    justify-content: center
}

.feature-icon {
    width: 100px;
    height: 90px;
    margin-bottom: 5%;
    margin-top: 5%;
    
}

.feature-text {
    margin-right: auto;
    margin-left:auto;
}

.home-card-text {
    color: #4B4E4F; 
    text-align: center;
}