#navigation {
    padding: 1%;
    opacity: 1%;
    width: 100%;
}

/* .navigBar {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index:1;
} */

#tabLink-home, #tabLink-explore, #tabLink-about, #tabLink-signup, #tabLink-LogOut {
    font-size: 13pt;
    margin-top: 0.4rem;
}

#tabLink-home, #tabLink-about, #tabLink-explore, #tabLink-signup, #tabLink-LogOut {
    padding-right: 2rem;
    padding-left: 3rem;
    margin-right: auto;
    margin-left: auto;
}

#tabLink-signup {
    padding-right: 3rem;
}

#tabLink-logo {
    padding-left: 3rem;
    margin-right: 0;
}

#tabLink-logo {
    text-align:center;
    padding-left: 2%;
}

#logo {
    max-width: 70%;
}

#navTabs {
    margin-right: auto;
    margin-left: auto;
} 

#navTabs > a {
    color: #696969;
}

#navTabs a:hover {
    color: black;
}