#navigation {
    padding: 1%;
    opacity: 0%;
    width: 100%;
}

/* .navigBar {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index:1;
} */

#tabLink-home, #tabLink-explore, #tabLink-about, #tabLink-signup {
    font-size: 14pt;
    margin-top: 0.4rem;
}

#tabLink-home, #tabLink-about, #tabLink-explore {
    padding-right: 8rem;
    padding-left: 3rem;
    margin-right: auto;
    margin-left: auto;
}

#tabLink-signup {
    padding-right: 3rem;
}

#tabLink-logo {
    padding-left: 3rem;
}

/* ///// */
/* #tabLink-logo {
    padding-left: 3%;
} */

#logo {
    max-width: 70%;
}

#navTabs {
    margin-right: auto;
    margin-left: auto;
} 

#navTabs > a {
    color: #696969;
}

#navTabs a:hover {
    color: black;
}