#showRecipe-content, #basic-info {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

#showRecipe-card-body {  
    margin: 0%;
}

#basic-info {
    display: flex;
    /* transform: translate(15%, 3%); */
    position: relative;
}

#showRecipe-image {
    margin-top: 3%;
    /* height: auto; 
    width: auto;  */
    /* max-width:600px; 
    max-height: 500px; */
    width: 25vw;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#recipe-image {
    max-width:600px; 
    max-height: 450px;
    border-radius: 10px;
}

#showRecipe-info {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    position: absolute;
    left: -30%;
    top: 60%;
}

#show-card {
    border-radius: 10px;
    width: 35%;
}

#card-row {
    display: flex;
    flex-wrap: wrap;
}

#show-card-text {
    border-left: 0.5px solid lightgrey;
    text-align: center;
    margin-bottom: 0; 
    text-align:center; 
    vertical-align: middle;
    display: table-cell;  
    padding-right: 2%;
    padding-left: 2%;
    width: 35%; 
}

#card-text-1 {
    border-left: none;
    text-align: center;
    width: 30%;
    margin-bottom: 0;
    text-align:center; 
    vertical-align: middle;
    display: table-cell;
    padding-left: 2%; 
    padding-right: 2%; 
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid lightgrey;
    padding-top: 0;
    width: 60%;
    margin-top: 5.5%;
}

#showRecipe-content {
    /* width: 80%; */
    margin-right: auto;
    margin-left: auto;
    margin-top: 3%;
}

/*https://stackoverflow.com/questions/9258070/adding-text-before-list*/
#customlist {
    /* delete default counter */
    list-style-type: none;
    /* create custom counter and set it to 0 */
    counter-reset: elementcounter;
    padding-left: 2%;
}

#customlist>li:before {
    /* print out "Element " followed by the current counter value */
    content: "STEP " counter(elementcounter) ": ";
    /* increment counter */
    counter-increment: elementcounter;
    font-weight: bold;
    display: block;
}

#customlist>li::after {
    color:red;
}

li {
    padding: 0.25%;
}

.number-in-ingredient {
    font-size: 13pt;
}
