#upload-content {
    width: 80%;
}

#upload-button {
    display: flex;
}

#fixed-label {
    width: 1000px;
}
#previewComponent {
    flex-grow: 1;
}


.fileInput {
    margin-bottom: 3%;
    
}

#title {
    margin-bottom: 3%;
    margin-top: 2%;
    text-align: center;
}

.title-upload {
    display: inline;
    border-bottom: 5px solid #5EB003;
    padding-bottom: 0.5%;
    font-size: 25px;
}
#upload-content {
    margin-right: auto;
    margin-left: auto;
}

.col-md-5 {
    /* width: 25%; */
    margin-right: auto;
    margin-left: auto
}

#recipeName, #cookingTime, #equipmentInput, #ingredientsInput  {
    width: 93%;
    display: inline;
}

#stepsInput {
    width: 93%;
    height: 150px;  
    display: inline;
}

/* 
#cookingTime {
    display: inline-BLOCK;
} */

#cookingTime :last-child {
    display: inline-block;
}

#upload-image {
    height: 60px;
    margin-right: 10%;
    margin-bottom: 2%;
}

#add {
    height: 30px;
    margin-left: 2%;
}

#add-steps {
    height: 30px;
    margin-left: 2%;
    margin-top: -5%;
}

.submitButton {
    margin-bottom: 5%;
    background-color: #5EB003;
    margin-top: 5%;
    padding: 1%;
    width: 50%;
    text-align: center;
    align-content: center;
    border: 2px solid #5EB003;
    border-radius: 8px;
    color: white;
}

#final-button {
    text-align: center;
}